<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onlyMemes</title>
    <!-- 引入 Materialize CSS -->
    <link href="../static/materialize.min.css" rel="stylesheet">
    <!-- 引入 Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    onlyMemes index, waiting for frontend...


    <!-- 引入 Materialize JavaScript -->
    <script src="../static/materialize.min.js"></script>
</body>

</html>